@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Playfair+Display&display=swap');
:root {
	--text: #dbdbe0;
	--link: #dadae6;
	--link-hover: #e4e4ff;
	--bg-drk: hsl(240, 8%, 8%);
	--bg-header: rgba(26, 25, 28, 0.742);
	--bg-lt: hsl(240, 6%, 30%);
	--primary: rgb(66, 66, 73);
	--heading: #cdc9d1;
	--subheading: #b2b1bd;
	--h2: #b8b9c0;
	--h3: #c2c2ca;
	--green: #7bdae0;
	--cyan: rgb(74, 153, 226);
	--blue: #4546b4;
	--violet: rgb(87, 59, 211);
	--indigo: rgb(81, 54, 235);
	--purple: rgb(124, 63, 223);
	--pink: #df65e4;
	--lighting-color: #984ddd;
	--lighting-highlight-color: #c58eff;
	--lighting-size: 300px;
	--size: clamp(4rem, 5vh + 40px, 12rem);
	--gap: calc(var(--size) / 4);
	--duration: 60s;
	--scroll-start: 0;
	--scroll-end: calc(-100% - var(--gap));
	--padding-hor: 2px;
	--federal-blue: #1f175cff;
	--tekhelet: #3f2678ff;
	--russian-violet: #481d61ff;
	--prussian-blue: #133a58ff;
	--eerie-black: #1a191cff;
	--prussian-blue: #113755ff;
	--denim: #1d5aafff;
	--federal-blue-lt: #322593;
	--tekhelet-lt: #5936ab;
	--russian-violet-lt: #752f9d;
	--prussian-blue-lt: #226faa;
	--denim-lt: #3e81e0;
	--eerie-black-lt: rgb(50, 49, 53);
	--federal-blue: hsla(247, 60%, 23%, 1);
	--tekhelet: hsla(258, 52%, 31%, 1);
	--russian-violet: hsla(278, 54%, 25%, 1);
	--prussian-blue: hsla(206, 64%, 21%, 1);
	--eerie-black: hsla(260, 6%, 10%, 1);
	--denim: hsla(215, 72%, 40%, 1);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
}

* {
	font-smoothing: antialiased;
	font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.loader {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;
	opacity: 1;
	background-color: var(--bg-drk);
	backdrop-filter: blur(70px) saturate(300%) brightness(120%);
	transition: opacity 1s ease, backdrop-filter 0.8s ease,
		background-color 0.5s ease;
}
.balls {
	--ballcolor: #ffffff;
	--shadow: 50px 0 #ffffff00;
	--shadowcolor: #ffffff00;
	width: 12px;
	height: 12px;
	left: -100px;
	border-radius: 50%;
	position: relative;
	color: var(--ballcolor);
	animation: shadowRolling 1.8s ease infinite;
}
@keyframes shadowRolling {
	0% {
		box-shadow: var(--shadow), var(--shadow), var(--shadow), var(--shadow);
	}
	12% {
		box-shadow: 100px 0 var(--ballcolor), var(--shadow), var(--shadow),
			var(--shadow);
	}
	25% {
		box-shadow: 110px 0 var(--ballcolor), 100px 0 var(--ballcolor), var(--shadow),
			var(--shadow);
	}
	36% {
		box-shadow: 120px 0 var(--ballcolor), 110px 0 var(--ballcolor),
			100px 0 var(--ballcolor), var(--shadow);
	}
	50% {
		box-shadow: 130px 0 var(--ballcolor), 120px 0 var(--ballcolor),
			110px 0 var(--ballcolor), 100px 0 var(--ballcolor);
	}
	62% {
		box-shadow: 200px 0 var(--shadowcolor), 130px 0 var(--ballcolor),
			120px 0 var(--ballcolor), 110px 0 var(--ballcolor);
	}
	75% {
		box-shadow: 200px 0 var(--shadowcolor), 200px 0 var(--shadowcolor),
			130px 0 var(--ballcolor), 120px 0 var(--ballcolor);
	}
	87% {
		box-shadow: 200px 0 var(--shadowcolor), 200px 0 var(--shadowcolor),
			200px 0 var(--shadowcolor), 130px 0 var(--ballcolor);
	}
	100% {
		box-shadow: 200px 0 var(--shadowcolor), 200px 0 var(--shadowcolor),
			200px 0 var(--shadowcolor), 200px 0 var(--shadowcolor);
	}
}

.main{
    height: 100vh;
    width: 100%;
    position: relative;
}

.center{
    height: 80%;
    width: 70%;
    position: absolute;
    left: 30%;
    top: 50%;
    transform: translate(0%,-50%);
}

.imgContainer{
    overflow: hidden;
    position: absolute;
    width: 0%;
    height: 100%;
}

img{
   height: 100%;
}

.heading{
    overflow: hidden;
    height: 118px;
    width: 520px;
    z-index: 2;
    position: absolute;
    top: 20%;
    left: -80px;
    
}

.heading h1{
    position: absolute;
    font-size: 5vw;
    top: 100px;
    font-family: 'Cinzel', serif;
    font-weight: 400;
}

.lines{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    position: absolute;
    left: -200px;
}

.line{
    height: 120px;
    width: 2px;
    background-color: #d3d3d3;
}

.line.active {
    background-color: #000; 
}


.textContainer{
    position: absolute;
    width: 480px;
    height: 130px;
    overflow: hidden;
    padding: 10px;
    top: 48%;
    left: -80px;
    z-index: 3;
}



.text{
    position: absolute;
    top: -100%;
    color: #000;
    font-family: 'Playfair Display', serif;
}

.imgContainer::before{
    position: absolute;
    content:" ";
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(255,255,255,0.3);
}

.icons{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 2px;
    font-size: 20px;
    gap: 20px;
    right: 6%;
    bottom: 20%;
}

.Hamburger{
    position: absolute;
    right: 6%;
    top: 10%;
    width: 30px;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 4px;
    height: 20px;
    z-index: 4;
}

.hamburger-line{
    width: 80%;
    height: 2px;
    background: #000;
}

.hamburger-line:nth-child(3){
    width: 60%;
}

